.Input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.Label {
    color: rgb(185, 179, 179);
}

.InputElement {
    outline: none;
    border: 1px solid whitesmoke;
    background-color: white;
    font: inherit;
    padding: 6px 10px;
    display: block;
    border-radius: 3px;
    width: 100%;
    resize: none;
    /* appearance: none; */
    box-sizing: border-box;
    color: black;
}

.InputElement:focus {
    background-color: whitesmoke;
    border: 1px solid whitesmoke;
}

.Invalid {
    border: 1px solid #703B09;
    background-color: #703B09;
}