.Person {
    width: 60%;
    margin: 16px auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 16px;
    text-align: center;
}

input{
    background:white;
    border: 1px solid #e9e9e9;
    font-size: 17px;
    padding: 5px;
    border-radius: 3px;
    font-family: Roboto;
    font-weight: 300;
    width: 70%;
    box-sizing: border-box;
}

input:focus{
    border: 2px solid #d4c7c7;
}

@media (min-width: 500px) {
    .Person {
        width: 450px;
    }
}