.ContactData {
    margin: 20px auto;
    width: 90%;
    box-shadow: 0px 2px 2px 0px rgba(66, 64, 64, 0.2);
    border: 1px solid whitesmoke;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
}

/* .ContactData:hover {
  box-shadow: 0 8px 20px 0 rgba(109, 108, 108, 0.2);
} */


.ContactData button{
    width: 94%;
    margin-left: 10px;
    margin-top: 10px;
}


@media (min-width: 600px) {
    .ContactData {
        width: 590px;
    }
    .ContactData button{
        width: 96%;
        margin-left: 10px;
        margin-top: 10px;
   }
}
@media only screen and (min-width: 501px) and (max-width: 767px){
    .ContactData{
        width: 90%;
    }
}