.AddPerson {
    width: 90%;
    padding: 20px;
    margin: 10px auto;
    box-sizing: border-box;
    border: 1px solid whitesmoke;
    box-shadow: 0 2px 2px whitesmoke;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    
}

input {
    margin-top: 10px;
    outline: none;
    border: 1px solid whitesmoke;
    background-color: white;
    font: inherit;
    padding: 6px 10px;
    display: block;
    border-radius: 3px;
    width: 100%;
    box-sizing: border-box;
    color: black;
}

input:focus {
    background-color: whitesmoke;
    border: 1px solid whitesmoke;
}


button {
    background-color: rgb(157, 81, 228);
    border: none;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 7px;
    border-radius: 3px;
    margin-top: 20px;
    color: white;
    width: 100%;
}

button:hover{
    background-color: blueviolet;
}

@media(min-width:500px) {
    .AddPerson{
        width: 40%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px){
    .AddPerson{
        width: 70%;
    }
}

@media only screen and (min-width: 501px) and (max-width: 767px){
    .AddPerson{
        width: 80%;
    }
}