button {
    background-color: #fa923f;
    border: none;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 7px;
    box-shadow: 0px 2px 2px 0px #af6324;
    border-radius: 3px;
    color: white;
    width: 40%;
    margin-top: 20px;
    font-size: 20px;
}

button:hover{
    border: none;
    background-color: #e78738;
    box-shadow: 0px 3px 2px 0px #b8743c;
}
ul{  
    width: 30%;
    margin-left: auto; 
    margin-right: auto;
}
li{
    margin-right: 30px;
    font-size: 25px;
    list-style: none;
    margin-top: 5px;
    border-radius: 3px;
    padding: 5px;
    color: #fa923f;
    background-color: whitesmoke;
}
li:hover{
    color: #ff7402;
    cursor: pointer;
    background-color: rgb(233, 224, 224);
}


@media(max-width:500px) {
    button{
        width: 70%; 
    }
    ul{
        width: 40%;
    }
}

@media only screen and (min-width: 100px) and (max-width: 360px){
   button{
        width: 90%; 
    }
    ul{
        width: 60%;
    }
}

